*{
    margin: 0.3rem;
    box-sizing: content-box;


}
body{
    width:100vh;
    height: auto;
    padding: 0.8rem;
}
.caja1{
    color:white;
    background-color: rgb(16, 15, 15);

}
.div{
    width: 200vh;
    padding: 1.5rem;

}
/*.div::after{
    display: block;
    clear: both;
    content: "";

}
/*[class*="col-"] {
    display: flex;
    justify-content: center;
    padding: 15px;
  }*/


.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}





header{
    width: 99%;
    height: 10vh;
    background-color: rgb(98, 191, 203);

}
nav{
    width: 99%;
    height: auto;
    background-color: rgb(168, 19, 24);
}
main{
    width: 99%;
    height: auto;
    background-color: rgb(7, 156, 22);
}
section{
    width: 99%;
    height: auto;
    background-color: rgb(162, 15, 128);
}
aside{
    width: 99%;
    height: auto;
    background-color: rgb(205, 32, 176);
}
footer{
    width: 99%;
    height:auto;
    background-color: rgb(50, 51, 51);
}

@media only screen and (max-width: 480px) {
    /* For mobile phones:*/
    [class*="col-s"] {
      width: 100%;
    }
}


